.hiden {
    display: none;
}

.banner {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #cfcfcf;
    z-index: 4;

    @media screen and (max-width:766px) {
        height: 75vh;
    }

    .text-judul {
        position: absolute;
        z-index: 4;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.pembukaan {
    position: relative;
    z-index: 2;
    background: white;
    height: 100vh;
    padding: 32px 0;

    // color: white;

    .gradient {
        background: linear-gradient(to bottom, #cfcfcf, rgba(252, 252, 252, 0.5), #cfcfcf);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
    }

    .imagez {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // @media screen and (max-width:766px) {
    //     width: 50%;
    //     position: absolute;
    //     right: 0;
    // }

    // height: 100vh;
}

.draw {
    min-height: 300vh;

    // display: none;
    .images {
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.mapsx {
    height: 100vh;
    position: relative;
    z-index: 8;

    embed {
        width: 100%;
        height: 100%;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.fix {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.click {
    position: relative;
    z-index: 5;
}

.deskripsi {
    position: relative;
    z-index: 10;
    background: white;
    padding: 32px 0;
}


#mySVG {
    position: fixed;
    top: 15%;
    width: 100%;
    z-index: 3;
    height: 100%;
    margin-left: -50px;
}